img{

	width: 45vw;
}

.column-img{
margin-top: 3vh;
	display: flex;
	flex-direction: column;
}

.row-img{
width: 100vw;
display: flex;
justify-content: space-around;
}
.row-img
{
margin-top: 3vh;
}
h2{
	color: white;
}

.left{
float: left;
margin-left: 3vw;
}

.right{
	float: right;
	margin-right: 3vw;

}
p{
	color: white;
}

.mar-3{
margin:2vw 0vw;
}


.center{
	font-size: 1.6em;
	font-weight: 800;
	color:rgba(254, 44, 85, 1.0);;
	height: 15vh;
	align-items: center;
	width: 100vw;
	display: flex;
	justify-content: center;
}